#topnav
  %a.skip{:href => "#navigation", :title=>"skip link"} Skip to the navigation
  %span.hideme .
  %a.skip{:href => "#content", :title=>"skip link"} Skip to the content
  %span.hideme .
%h1 Die Geschichte des grausamen Grundbesitzers
 
