.page
  #header
    =partial("topnav")
  #nav
    =partial("nav", :locals=> {:cpage=>"/chapters"})
  #main
    #col1
    #col3
      #col3_content.clearfix
        %a{:id=>"content", :name =>"content"}
        %h2 Kapitel
        %ol
          - @chapters.each do |chapter|
            %li
              %a{:href => "/show_chapter/#{chapter.id}"}= chapter.title.force_encoding("UTF-8")
  #footer
    =partial("footer")    

