.page
  #header
    =partial("topnav")
  #nav
    =partial("nav", :locals=> {:cpage=>"/"})
  #main
    #col1
    #col3
      #col3_content.clearfix
        %p Platzhalterseite.
  #footer
    =partial("footer")    

