<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
%script{:type =>"text/javascript", :src => "/javascripts/ckeditor/ckeditor.js"}
<title>Die Geschichte vom grausamen Gutsbesitzer</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<!-- (en) Add your meta data here -->

<!-- (de) Fuegen Sie hier ihre Meta-Daten ein -->

<link href="/css/my_layout.css" rel="stylesheet" type="text/css"/>

<!--[if lte IE 7]>

<link href="css/patches/patch_my_layout.css" rel="stylesheet" type="text/css" />

<![endif]-->

</head>
<div class="page_margins">
= yield
</div>
<body>

</body>

</html>
