%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %script{:type =>"text/javascript", :src => "/javascripts/ckeditor/ckeditor.js"}

  %body
    #content
      %form{:action => "/new_chapter", :method => "post"}
        %input{:type =>"text", :name => "title"}
        %textarea.ckeditor{:id => "editor1", :name=> "body"}
        %input{:type => "submit", :value => "Submit!"}
