.page
  #header
    =partial("topnav")
  #nav
    =partial("nav", :locals=> {:cpage=>"/chapters"})
  #main
    #col1
    #col3
      #col3_content.clearfix
        %a{:id=>"content", :name =>"content"}
        %h2 Neuen Abschnitt erstellen: 
        %form{:action => "new_chapter", :method => "post"}
          %input{:type => "text", :name => "title"}
          %textarea.ckeditor{:id => "new_chapter_editor", :name =>"body"}
          %input{:type => "submit", :value => "Fertig!"}
  #footer
    =partial("footer")    
